.latestPosts * {
    border: 0 none;
    line-height: 0;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.latestPosts {
    float: right;
    max-width: 100%;
    outline: medium none !important;
    position: relative;
    padding-right:15px;
    padding-top:10px;
    padding-bottom:10px;
    
}
.latestPosts .jAccordion-slidesWrapper {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
	background-color: #4b4a46;
}
.latestPosts .jAccordion-slide {
    border-top: 1px solid #333;
    display: block;
    overflow: hidden;
    position: relative;
}
.latestPosts .jAccordion-slide:first-child {
    border-top-color: transparent;
}
.latestPosts .jAccordion-slide::after {
    content: "";
    float: left;
    height: 1%;
    width: 0;
}
.latestPosts .articleInfo {
    background: rgba(0, 0, 0, 0) url("../images/arrow.png") no-repeat scroll 97.1% center;
    border-bottom: 1px solid #333;
    height: 57px;
    margin-bottom: 13px;
    padding-top: 10px;
    padding-left: 10px;
    position:relative;
    background-color: #699120;
}
.latestPosts li:hover .articleInfo {
    background: rgba(0, 0, 0, 0) url("../images/arrow_hover.png") no-repeat scroll 97.5% center;
    background-color: #699120;
}
.latestPosts .jAccordion-slide.activeItem .articleInfo {
    background: #699120 url("../images/arrow_active.png") no-repeat scroll 97.5% center;
    border-bottom-color: #ff0000;
}
.latestPosts .articleInfo h1 a {
    color: #fff;
    font: 20px Top-Secret,Helvetica,sans-serif;
    text-decoration: none;
}
.latestPosts .articleInfo a {
    color: #fff;
    font: bold 13px Arial,Helvetica,sans-serif;
    text-decoration: none;
}
.latestPosts a:hover {
    text-decoration: underline;
}
.latestPosts em {
    color: #aaa;
    display: block;
    font: italic 13px Georgia,"Times New Roman",Times,serif;
    margin-top: 5px;
}
.latestPosts p {
    color: black;
    font: 19px EBG12,Arial,sans-serif;
    padding-bottom: 8px;
    margin-left: 160px;
    margin-right: 10px;
    text-align: justify;
}
.latestPosts p img {
    float: left;
    padding: 0 13px 13px 0;
}
.latestPosts p a {
    color: #ff0000;
    font-weight: bold;
    text-decoration: none;
}
.producstList p a:hover {
    text-decoration: underline;
}
.latestPosts.noJS .jAccordion-slide {
    height: 70px;
}
.latestPosts.noJS .jAccordion-slide:hover {
    height: auto;
    background-color: #f0f0f0;
    border-top-color: #fa9b00;
}
.latestPosts.noJS li:hover .articleInfo {
    background: rgba(0, 0, 0, 0) url("../images/arrow_active.png") no-repeat scroll 97.8% center;
    border-bottom-color: #fa9b00;
    border-top-color: #fa9b00;
    background-color: #699120;
}

.link-spanner{
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;

  /* edit: fixes overlap error in IE7/8, 
     make sure you have an empty gif 
  background-image: url('empty.gif');*/
}   
.contenido-acordion{
max-height:600px;
height:100%;
min-height:150px;
background-color: #f0f0f0;
}
.contenido-acordion p{
padding: 5px 10px 5px 10px;
}
.jAccordion-slide article{
	background-color: transparent;
}
